
{% extends 'Layouts/base.html.twig' %}
{% block title %}job_details{% endblock %}

 {% block navbar %}{% endblock %}
{% block body %}
<!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{{ asset('assets/img/hero/about.jpg') }}"">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12"> 
                      {% if jobDetail is defined %} 
                        <div class="hero-cap text-center">
                            <h2>{{ jobDetail.title }}</h2>
                        </div>
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
          {% if jobDetail is defined %}
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                         
                          <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    {% if jobDetail.imageName is defined and jobDetail.imageName is not empty %}
                                            <a href="{{ path('app_job_detail', { 'id': jobDetail.id }) }}"><img src="{{ vich_uploader_asset(jobDetail, 'imageFile') }}" alt=""></a>
                                        {% else %}
                                            <a href="{{ path('app_job_detail', { 'id': jobDetail.id }) }}"></a>
                                        {% endif %}
                                </div>
                                <div class="job-tittle">
                                    <a href="{{ path('app_job_detail', { 'id': jobDetail.id }) }}">
                                        <h4>{{ jobDetail.title }}</h4>
                                    </a>
                                    <ul>
                                        <li>{{ jobDetail.category }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ jobDetail.location }}</li>
                                        <li>{{ jobDetail.salary }}</li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>{{ jobDetail.description }}</p>
                            </div>
                        
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Publié le : <span>{{ jobDetail.createdAt|date('j F Y') }}</span></li>
                              <li>Emplacement : <span>{{ jobDetail.location }}</span></li>
                              <li>Type de contrat : <span>{{ jobDetail.type }}</span></li>
                              <li>Salaire :  <span>{{ jobDetail.salary }}</span></li>
                              <li>Expire le : <span>{{ jobDetail.expiresAt|date('j F Y') }}</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <a href="{{ path('postuler', {'id': jobDetail.id}) }}" class="btn" style="border-radius: 5px;">Postuler</a>
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Information de l'Entreprise</h4>
                           </div>
                              <span>Description</span>
                              <p>{{ employeur.description }}</p>
                            <ul>
                                <li>Name: <span>{{ employeur.name }}</span></li>
                                <li>Adresse : <span>{{ employeur.adress }}</span></li>
                                <li>Email: <span>{{ employeur.email }}</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
          {% endif %}  
        </div>
        <!-- job post company End -->
{% endblock %}
{% block footer %}{% endblock %}