
{% block subject %}
    Réinitialisation de votre mot de passe
{% endblock %}

{% block body_html %}
    <p>Bonjour,</p>
    <p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
    <p><a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a></p>
    <p>Ce lien expirera dans {{ resetToken.expiresAt|date('g') }} heures.</p>
    <p>Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail.</p>
    <p>Merci,</p>
    <p>L'équipe Job Finder</p>
{% endblock %}

{% block body_text %}
Bonjour,

Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :
{{ url('app_reset_password', {token: resetToken.token}) }}

Ce lien expirera dans {{ resetToken.expiresAt|date('g') }} heures.

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail.

Merci,
L'équipe Job Finder
{% endblock %}
