{{ form_start(form) }}
    <label>Titre </label>
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    <label>Type</label>
    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
    <label>Location </label>
    {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
    <label>Salary</label>
    {{ form_widget(form.salary, {'attr': {'class': 'form-control'}}) }}
    <label>Category</label><br>
    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}<br><br><br>
    <label>Description</label>
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}<br>
    <label>Ajoutez le logo de votre</label>
     {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}<br>
    <button class="btn btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
