{% extends 'Layouts/base2.html.twig' %}


{% block body %}
<title>Job index</title>
<div class="cat"><h2 class="text-center">Mes Offres</h2></div>
<div class="indexjob " style="font-size: small;">
 



    <table class="table table-bordered">
        <thead>
            <tr>
                
                <th>Titre</th>
                <th>Type</th>
                <th>Description</th>
                <th>Emplacement</th>
                <th>Salaire</th>
                <th>Logo</th> 
                <th>Créé à</th>
                <th>Modifié à</th>
                <th>Expire à</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                
                <td>{{ job.title }}</td>
                <td>{{ job.type }}</td>
                <td>{{ job.description|slice(0,10)|striptags }}...</td>
                <td>{{ job.location }}</td>
                <td>{{ job.salary }}</td>
                <td>{{ job.imageName|slice(0,5) }}</td>
                <td>{{ job.createdAt ? job.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.updatedAt ? job.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.expiresAt ? job.expiresAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_job_show', {'id': job.id}) }}"><button class="btn" style=" padding: 20px 20px; border-radius: 5px; background-color: #0b1c39;">Consult</button></a><br><br>
                    <a href="{{ path('app_job_edit', {'id': job.id}) }}"><button class="btn" style=" padding: 20px 20px; border-radius: 5px; background-color: #0b1c39;">Modifie</button ></a><br>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Vous n'avez publié aucune offre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_job_new') }}"><button class="btn head-btn1" style="border-radius: 5px;">Ajouter une offre</button</a>
</div>      

{% endblock %}
