
{% extends 'Layouts/base2.html.twig' %}


{% block body %}
    <title>Job</title>
 <div class="cat"><h2 class="text-center">Informations de l'offre</h2></div>   
 <br><br><br>
    <div class="row">
        <div class="col-md-10 mx-auto">
                
            
            <table class="table table-bordered">
                <tbody>
                    
                    <tr>
                        <th>Title</th>
                        <td>{{ job.title }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ job.type }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ job.description|striptags }}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{ job.location }}</td>
                    </tr>
                    <tr>
                        <th>Salary</th>
                        <td>{{ job.salary }}</td>
                    </tr>
                    <tr>
                        <th>Logo</th>
                        <td>{{ job.imageName }}</td>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{ job.createdAt ? job.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>UpdatedAt</th>
                        <td>{{ job.updatedAt ? job.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>ExpiresAt</th>
                        <td>{{ job.expiresAt ? job.expiresAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>

            <h2>Candidatures</h2>
        <table class="table table-bordered">
                <tr style="border-bottom: 1px solid #ccc;">
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Niveau</th>
                    <th>Ville</th>
                    <th>Lettre de Motivation</th>
                    <th>CV</th>
                    <th>Actions</th>
                    {# Ajoutez d'autres colonnes si nécessaire #}
                </tr>
                
                {% for candidature in candidature %}
                    <tr style="border-bottom: 1px solid #ccc;">
                        <td>{{ candidature.nom }}</td>
                        <td>{{ candidature.prenom }}</td>
                        <td>{{ candidature.email }}</td>
                        <td>{{ candidature.Niveau }}</td>
                        <td>{{ candidature.Ville }}</td>
                        <td>
                            {% if candidature.LettreMotivation %}
                                <p><a href="{{ vich_uploader_asset(candidature, 'imageFileLettreMotivation') }}" style="color: #0b1c39;" download><b>Télecharger</b></button></a></p>
                            {% else %}
                                <p>Pas de lettre de motivation téléchargée</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if candidature.CV %}
                                <p><a href="{{ vich_uploader_asset(candidature, 'imageFileCV') }}" style="color: #0b1c39;" download><b>Télecharger</b></a></p>
                            {% else %}
                                <p>Pas de CV téléchargé</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if candidature.status == 'En attente' %}
                                <form action="{{ path('accept_candidature', {'id': job.id, 'candidatureId': candidature.id}) }}" method="post">
                                    
                                    <button class="btn" style=" padding: 20px 20px; border-radius: 5px; background-color: #0b1c39;" type="submit" onclick="return confirmAccept()">Accept</button>
                                    <script>
                                        function confirmAccept() {
                                            // Afficher une boîte de dialogue de confirmation
                                            var confirmation = confirm('Voulez-vous vraiment accepter cette candidature ?');

                                            // Si l'utilisateur clique sur "OK" dans la boîte de dialogue
                                            if (confirmation) {
                                                // Soumettre le formulaire
                                                return true;
                                            } else {
                                                // Annuler l'action par défaut du formulaire
                                                return false;
                                            }
                                        }
                                    </script>
                                </form>
                                <br>
                                <form action="{{ path('refuse_candidature', {'id': job.id, 'candidatureId': candidature.id}) }}" method="post">
                                    
                                    <button class="btn " style=" padding: 20px 20px; border-radius: 5px; background-color: #0b1c39;" type="submit" onclick="return confirmAccept()">Refuse</button>
                                    <script>
                                        function confirmAccept() {
                                            // Afficher une boîte de dialogue de confirmation
                                            var confirmation = confirm('Voulez-vous vraiment refuser cette candidature ?');

                                            // Si l'utilisateur clique sur "OK" dans la boîte de dialogue
                                            if (confirmation) {
                                                // Soumettre le formulaire
                                                return true;
                                            } else {
                                                // Annuler l'action par défaut du formulaire
                                                return false;
                                            }
                                        }
                                    </script>
                                </form>
                            {% else %}
                                <p>Statut: {{ candidature.status }}</p>
                            {% endif %} 
                            
                        <td>
                        
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Vous n'avez reçu aucune candidature</td>
                    </tr>
                    
                {% endfor %}
            </table>

            <a href="{{ path('app_job_index') }}">back to list</a>

            <a href="{{ path('app_job_edit', {'id': job.id}) }}">edit</a>

        

            {{ include('job/_delete_form.html.twig') }}
     </div>   
 </div>
 <br><br>
{% endblock %}
