    <!-- Preloader Start -->

{% for type, messages in app.flashes(['succes', 'error', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} text-center mb-0">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}   
    <header>
    <div class="container">
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="assets/img/logo/logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader Start -->
        <header>
            <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-2">
                                <!-- Logo -->
                                <div class="logo">
                                    <img src="{{ asset('assets/img/logo/logo3.png') }}" alt="">
                                </div>
 
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="menu-wrapper">
                                    <!-- Main-menu -->
                                    <div class="main-menu ">
                                        <nav class="d-none d-lg-block">
                                            <ul id="navigation">
                                                <li><a href="index.html">Accueil</a></li>
                                                <li><a href="{{ path('afficher_candidatures') }}">Mes candidatures</a></li>
                                                <li><a href="">A propos</a></li>
                                                
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>          
                                    <!-- Header-btn -->
                                        <div class="header-btn d-none f-right d-lg-block">
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                {# Si l'utilisateur est connecté, afficher l'icône de profil #}
                                               
                                                    <a href="" class="profile-icon" alt="profile" title="Cliquez pour voir votre profil">
                                                        <img src="{{ asset('assets/img/icon/profile-user.png') }}" alt="Profile" class="profile-image" style="width: 40px; height: 40px; margin-right: 60px;">
                                                    </a>
                                                
                                            {% else %}
                                                {# Sinon, afficher le bouton de connexion #}
                                                <a href="{{ path('app_login') }}" class="btn head-btn2" style="border-radius: 5px; padding: 20px 20px;">Se Connecter</a>
                                            {% endif %}
                                            <a href="{{path('accueil_employeur')}}" class="btn head-btn1" style="border-radius: 5px; padding: 20px 20px;">Passer à Employeur</a>
        
                                        </div>

                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
            <!-- Header End -->
    </header>