<!-- Preloader Start -->
{% for type, messages in app.flashes(['success', 'error', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} text-center mb-0">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %} 
    <header style="border: 1px solid #ccc;">
    <div class="container">
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="assets/img/logo/logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader Start -->
        <header>
            <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-2">
                                <!-- Logo -->
                                <div class="logo">
                                    <img src="{{ asset('assets/img/logo/logo2.png') }}" alt="">
                                </div>
 
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="menu-wrapper">
                                    <!-- Main-menu -->
                                    <div class="main-menu">
                                        <nav class="d-none d-lg-block">
                                            <ul id="navigation">
                                                <li><a href="index.html">Accueil</a></li>
                                                <li><a href="{{ path('app_job_index') }}">Mes Offres</a></li>
                                                <li><a href="about.html">A propos</a></li>
                                                
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>          
                                    <!-- Header-btn -->
                                    <!-- Header-btn -->
                                        <div class="header-btn d-none f-right d-lg-block">
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    {% set user = app.user %}
                                                    {% if not user or  user.getEmployeur() %}
                                                       
                                                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu" style="margin-right: 100px !important;" > 
                                                            <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <div class="profile-pic">
                                                                    <img src="{{ asset('assets/img/icon/profile-user.png') }}" alt="Profile Picture">
                                                                </div>
                                                            
                                                            </a>
                                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                                
                                                                <li><a class="dropdown-item" href="{{ path('employer_edit', {'id': app.user.employeur.id}) }}"><i class="fas fa-cog fa-fw"></i>Profile Employeur</a></li>
                                                                <li><hr class="dropdown-divider"></li>
                                                                <li><a class="dropdown-item" href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt fa-fw"></i> Deconnexion</a></li>
                                                            </ul>
                                                        </ul>
                                                        
                                                        <a href="{{path('app_job_new')}}" class="btn head-btn1" style="border-radius: 5px; padding: 20px 20px;">Publier une offre</a>
                                                    {% else %}
                                                        
                                                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu"> 
                                                            <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <div class="profile-pic">
                                                                    <img src="{{ asset('assets/img/icon/profile-user.png') }}" alt="Profile Picture">
                                                                </div>
                                                            <!-- You can also use icon as follows: -->
                                                            <!--  <i class="fas fa-user"></i> -->
                                                            </a>
                                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                               {% if app.user and app.user.employeur %}
                                                                <li><a class="dropdown-item" href="{{ path('employer_edit', {'id': app.user.employeur.id}) }}"><i class="fas fa-cog fa-fw"></i> Settings</a></li>
                                                               {% endif %}
                                                                <li><hr class="dropdown-divider"></li>
                                                                <li><a class="dropdown-item" href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a></li>
                                                            </ul>
                                                        </ul>
                                                        
                                                       <a href="{{ path('app_employeur') }}" class="btn head-btn1" style="border-radius: 5px; padding: 20px 20px;">Créer un compte</a>
                                                    {% endif %}
                                            {% else %}
                                                
                                                <a href="{{ path('app_login') }}" class="btn head-btn2" style="border-radius: 5px; padding: 20px 20px;">Se Connecter</a>
                                                <a href="{{ path('app_employeur') }}" class="btn head-btn1" style="border-radius: 5px; padding: 20px 20px;">Créer un compte</a>
                                            {% endif %}

        
                                        </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>    <!-- Header End -->
    </header>