{% extends 'Layouts/base2.html.twig' %}



{% block body %}

    <h1 style="margin-left: auto;">Veuillez vous Inscrire</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
           {{ form_start(form) }}
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.sector, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.adress, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}<br>
            <button type="submit" class="btn btn-primary" style="border-radius: 5px;">Soumettre</button>
            
            {{ form_end(form) }}
            <br><br>

        </div>
    </div>
{% endblock %}
