{% extends 'Layouts/base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    <h1>Postuler pour cette offre</h1>
  
    <div class="candidature-form">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
            {{ form_row(form.Nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.Prenom, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.Niveau, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.Ville, {'attr': {'class': 'form-control'}}) }}
            <label>Ajoutez votre lettre de motivation</label>
            {{ form_widget(form.imageFileLettreMotivation, {'attr': {'class': 'form-control-file'}}) }}
            <label>Ajoutez votre CV</label>
            {{ form_widget(form.imageFileCV, {'attr': {'class': 'form-control-file'}}) }}<br>
            <button type="submit" class="btn btn-primary" style="border-radius: 5px;">Soumettre</button><br>
            {{ form_end(form) }}
            <br>
        </div>
    </div>
  
{% endblock %}
